.row{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .artist {
    /*float: left;*/
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .artist > .im {
    margin-bottom: .75rem;
    width: 100%;
  }
  .artist{
    width: 5rem !important;
    border: solid black 4px !important;
    background-color: #a2d9e2 !important;
    box-shadow: 5px 10px #43bacd;
  }
  .grp{
    padding: 20px;
  }
  .im{
    height: 40%;
  }