* {
    box-sizing: border-box;
}

body {
    background-image: url('../public/back2.jpg');
    background-repeat: repeat;
    background-size: contain;
}

.footcon {
    background-color: rgba(67, 67, 67, 0.5) !important;
    padding: 3rem 1rem;
    display: flex;
}

.title1 {
    font-size: 14px;
    font-weight: 700;
    color: aliceblue;
    text-transform: uppercase;
}
ul {
    list-style-type: none;
   }
li{
    color: aliceblue;
}
.social{
    color: aliceblue;
}